{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex align-items-center justify-content-between navbar-collapse" id="navbarSupportedContent">
        <div>
            <ul class="d-flex align-items-center justify-content-center navbar-nav" id="navbar_content">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Общежития
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Общежитие №1</a></li>
                        <li><a class="dropdown-item" href="#">Общежитие №2</a></li>
                        <li><a class="dropdown-item" href="#">Общежитие №3</a></li>
                        <li><a class="dropdown-item" href="#">Общежитие №4</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.jpg' %}" alt="" height="92">
            </a>
        </div>
        <div class="d-flex">
            {% if user.is_authenticated %}

            {% else %}
                <a href="{% url 'signup' %}">
                    <button class="btn register-btn">Регистрация</button>
                </a>
                <a href="{% url 'login' %}">
                    <button class="btn register-btn">Вход</button>
                </a>
            {% endif %}
        </div>
    </div>
</nav>