.line {
    width: 100%;
    border-bottom: 1px solid #3C3C3C;
}

.navbar_content {
    width: 100%;
}

.box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
}

.box img {
    padding: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.lable {
    padding: 2%;
    width: 80%;
    font-size: 80px;
    line-height: 100px;
}

.register-btn {
    border: 1px solid #414141;
    border-radius: 0;
    padding: 15px 25px;
}

.learn-more {
    font-family: Roboto, sans-serif;
    font-size: 25px;

}

.news {
    padding-top: 6%;
}

.news-logo {
        font-family: 'Manrope', sans-serif;

    width: auto;
}

a {
    text-decoration: none;
    color: black;
}

.news-card {
    border: white;
    border-bottom-color: #3C3C3C;
}

.photo-logo {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 110px;
}