{% extends 'base.html' %}
{% load static %}
{% block title %}  Useful Time {% endblock %}

{% block content %}
    <div class="line"></div>
    <div class="lable">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 lable">
                <a>ОФИЦИАЛЬНЫЙ САЙТ ОБЩЕЖИТИЙ КГЭУ</a>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
    <div class="line"></div>
    <div class="box">
        <img src="{% static 'img/kgeu1.jpg' %}" class="kgeu1">
    </div>
    <div class="container news">
        <div class="d-flex justify-content-between align-items-center">
            <div class="learn-more">
                <a href="#">Увидеть больше<img src="{% static 'img/link_arrow.png' %}" height="15px"></a>
            </div>
            <div class="news-logo lable">
                НОВОСТИ
            </div>
        </div>
        <div class="d-flex justify-content-between">
            {% for new in  news %}
                {% if forloop.counter < 4 %}
                    <div class="card news-card" style="width: 20rem;">
                        {% for img in  new.images.all %}
                            {% if forloop.first %}
                                <div class="box" style="height: 410px;">
                                    <img src="{{ img.image.url }}" class="card-img-top" style="height: 410px;">
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <h5 class="card-title">{{ new.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ new.date_published }}</h6>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container news photos">
        <div class="news-logo lable photo-logo">
            ФОТОГАЛЕРЕЯ
        </div>
    </div>
{% endblock %}